@font-face { font-family: rohyt; src: url('rohyt.otf'); }

body {
    width: 100%;
    font-family: Helvetica;
    background-color: rgb(36, 32, 32);
    margin: 0;
    padding: 0;
    
    
  }
  
  #header {
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: solid 3px #e4636f;
    box-shadow: 0px 10px #009949;
  }
  
  .text-display {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(36, 32, 32);
    color: white;
    
    
  }
  
  .question-score {
    padding-top: 5px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    gap: 150px;
    
  }
  
  .score-box {
    padding: 5px;
  }
  
  
  
  
  .topping-menu {
    margin: 210px 5vw 0 5vw;
    font-size: 14px;
    background-color: rgb(36, 32, 32);
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    
  }
  
  @media screen and (min-width: 900px) {
    .topping-menu {
      margin: 210px 30vw 0 30vw;
    }
  }
  
  
  
  .button-area {
    display: flex;
    justify-content: center;
  }
  
  .pizza-name {
    font-size: 30px;
    font-family: rohyt;
    text-align: center;
    padding: 10px;
  }
  
  .top-button {
    text-align: center;
    background-color: #009949;
    color: rgb(255, 248, 248);
    padding: 10px;
    width: 130px;
    margin: 2px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
  
  .ingredient-container {
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
  }
  
  #check-response {
    text-align: center;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 5px;
    
  }

  .check-response-answers {
    font-size: 12px;
    padding: 2px 5px;
    
  }

  .check-green {
    color: #00d165;
  }

  .check-red {
    color: #ff765b;
  }
  
  .ingredient {
    padding: 10px;
    margin: 2px;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
    border-radius: 4px;
  }
  
  .btn-orange {
    background-color: #f18628;
  }
  
  .btn-yellow {
    background-color: #ffe920;
  }
  
  .btn-red {
    background-color: #d64d32;
  }
  
  .btn-lavender {
    background-color: rgb(201, 201, 247);
  }
  
  .btn-blue {
    background-color: #c197e4;
  }
  
  .btn-pink {
   background-color: #fa98c1; 
  }
  
  .btn-selected {
    background-color: #009949;
    color: white;
  }
  
  @keyframes shake {
    0% {
      margin-left: 0rem;
    }
    25% {
      margin-left: 0.5rem;
    }
    75% {
      margin-left: -0.5rem;
    }
    100% {
      margin-left: 0rem;
    }
  }
  
  .error {
    animation: shake 0.2s ease-in-out 0s 2;
    color: #ff765b;
  }
  
  .correct {
    color: #5cf094;
  }
  
  
  .end-screen {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(36, 32, 32);
    z-index: 99;
    display: none;
  }
  
  .end-box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    gap: 20px;
    padding: 100px;
  }
  
  .end-score {
    font-size: 30px;
    font-family: rohyt;
  }
  
  .reload {
    font-size: 16px;
    font-weight: 600;
    border-radius: 4px;
    background-color: #009949;
    color: white;
    padding: 10px 40px;
    cursor: pointer;
  }
  
  